

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

main.table {
    width: 82vw;
    height: 90vh;
    background-color: #fff5;

    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;

    overflow: hidden;
}

.table__header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__header .input-group {
    width: 35%;
    height: 100%;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
}

.table__header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.table__header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: .6rem;

    overflow: auto;
    overflow: overlay;
}

.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}

table {
    width: 100%;
}



table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

.time {
    padding: 0;
    background-color: rgba(0, 0, 255, 0.599);
    padding: 10px;
    width: 120px ;
    margin-top: 19px; 
    font-weight: 600;
    border-radius: 5px;
    color: #fff;
}

.message{
    margin-top: 12px;
    /* height: 100%;
    width: 100%; */
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #f3a81ffe;
    cursor: pointer;
    text-transform: capitalize;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #ffd5001d;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}

.delbtn{
    background-color: red;
    padding: 5px 20px;
    border-radius: 15px;
    color: #fff;
    width: 70px ;
    cursor: pointer;
}