.detailes{
background-color: rgba(128, 128, 128, 0.427);
padding: 50px 30px;
}

.image{
    width: 100%;
    margin-top: 150px;
 
    background-color: #D78616;

}
.image img{
    position: relative;
    width: 100%;
    top: 20px;
    left: 30px;

}
.warper h1{
    font-size: 91px;
    padding: 5px 0px;
    font-weight: 600;
}
.warper span{
    color: #D78616;
    
}
.warper .headingpara{
    font-size: 1.2rem;
    font-weight: 500;
}
.icon1{
    border-radius: 6px;
background: #e0e0e0;
text-align: center;
padding: 10px;
/* box-shadow:  13px 13px 26px #d3d3d3,
             -13px -13px 26px #ededed; */
}
.icon1 img{
    padding: 10px;
}
.box1{
    padding: 20px 0px;
    
}
.box2{
    display: flex;
    padding: 10px;
    gap: 20px;
    align-items: center;
}
.btn {
    padding: 0.8em 1.8em;
    border: 2px solid #D78616;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #D78616;
    border-radius: 3px;
   }
   
   .btn::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #D78616;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   .btn:hover::before {
    width: 105%;
   }
   
   .btn:hover {
    color: #fff;
   }
   

   @media only screen and (max-width:1000px) {

    .warper h1{
        font-size: 70px;
        padding: 5px 0px;
        font-weight: 600;
    }
    .image{
        width: 100%;
        margin-top: 10px;
       margin-left: 0px;
        background-color: #D78616;
    
    }
    .image img{
        position: relative;
        width: 100%;
        top: 20px;
        left: 30px;
    
    }

   }

   @media only screen and (max-width:500px) {

    .warper h1{
        font-size:40px;
        padding: 5px 0px;
        font-weight: 600;
    }
    .image{
        margin-top: 0px;
    border: 15px solid #D78616;
    }
    .image img{
        position: static;
        width: 100%;
        
    
    }
    .box2{
        display: flex !important;
        flex-direction: column;
    }
    
   }