.warper1{
    /* background-color: gray; */
    padding: 60px 30px;
}
.box1{
    padding: 30px 0px;
}
.box1 h4{
    font-weight: 600;
    font-size: 2.3rem;
    padding-left: 70px;
    position: relative;
}
.box1 h4::before{
    content: "";

    position: absolute;
    top: 50%;
    left: 0px;
    width: 50px;
    height: 2px;
    transform: translateY(-50%);
    background-color: #d78617;
    padding: 2px;
}
.box1 p{
    margin-top: 40px;
    font-weight: 600;
    font-size: 1.4rem;
   color: rgba(0, 0, 0, 0.716);
}

/* 2 */

.warper2{
    padding: 40px 30px 20px 30px;
    background: linear-gradient(rgba(255, 249, 249, 0.64), rgba(0, 0, 0, 0.0)), url(../../assets/background3.jpg);

}
.box2 h4{
    font-weight: 600;
    font-size: 1.9rem;
    padding-left: 70px;
    position: relative;
    
}
.box2 h4::before{
    content: "";

    position: absolute;
    top: 50%;
    left: 0px;
    width: 50px;
    height: 2px;
    transform: translateY(-50%);
    background-color: #d78617;
    padding: 2px;
}

.box3{
    text-align: center;
}
.box3 h2{
    color: #d78617;
}
.box3 p{
    font-weight: 600;
    font-size: 1.1rem;
}


/* 3 */

.warper3{
    padding: 0px 30px 20px 30px;


}
.box4{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}
.profile{
   
width: 50%;


}

.profile img{
    filter: grayscale(1);
width: 100%;
background-position: center;
background-size: cover;
padding-bottom: 10px;
border-radius: 25px;
}
.box5 {
    padding-top: 20px;
padding-left: 20px;
}
.profilename{
    color: #d78617;
    font-weight: 600;

}
.profilepara{
    font-weight: 500;
    font-size: 1.3rem;
}
.profile img:hover{
    /* background :  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.649)); */
  
    transition: 1.5s all ease;
    filter: grayscale(0);

}

.box6{
    border-radius: 2px;
    margin: 20px;
    background: #ffffff;
    box-shadow:  20px 20px 60px #d9d9d9,
                 -20px -20px 60px #ffffff;
                 display: flex;
}
.box6 img{
   
    padding: 20px 10px;
}
.box6detali{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1px 15px;
}
@media only screen and (max-width:1000px) {
    .box1 h4 {
      font-size: 30px !important;

    }
    .box2 h4 {
        font-size: 30px !important;
      padding: 0px 0px ;

      }
      .box2 h4{
        padding: 20px 60px;
      }
      .box3{
       padding: 20px 0px;
    }
    .profilepara{
        font-weight: 500;
        font-size: 1rem;
    }
    .profile{
        width: 70% ;  
        }
        .profile img{
          
        width: 100%;
       
        }
}

@media only screen and (max-width:500px) {
    .box6 img{
        width:150px !important ;
        height: 150px;
    }
}